<div id="whatWeDoSection" class="container space-2 space-md-3">
<!-- Mockup Block -->
<div class="container space-bottom-2 space-bottom-md-3">
       <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <span class="btn btn-xs btn-soft-primary btn-pill mb-2">What we do</span>
        <h2 class="font-weight-normal">{{.intro.heading}}</h2>
        <p class="mb-0">{{.intro.text}}</p>
      </div>
  
  <div class="row align-items-lg-center">
    <div class="col-lg-5 mb-7 mb-lg-0">
      <!-- Title -->
      <div class="pr-lg-4">
        <h2 class="h4 font-weight-semi-bold text-primary">{{.intro.heading1}}</h2>
        <p class="mb-0">{{.intro.text1}}</p>
      </div>
      <!-- End Title -->
    </div>

    <div id="SVGmarketingStrategy" class="col-lg-7 svg-preloader">
      <!-- SVG Icon -->
      <figure class="ie-marketing-strategy">
        <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265661/svg/illustrations/marketing-strategy.svg" alt=""
             data-parent="#SVGmarketingStrategy">
      </figure>
      <!-- End SVG Icon -->
    </div>
  </div>
</div>
<!-- End Mockup Block -->

<!-- Mockup Block -->
<div class="container space-1">
  <div class="row align-items-lg-center">
    <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
      <div class="pl-lg-4">
        <h2 class="h4 font-weight-semi-bold text-primary">{{.intro.heading2}}</h2>
        <p class="mb-0">{{.intro.text2}}</p>
      </div>
    </div>

    <div id="SVGappDevelopment" class="col-lg-7 order-lg-1 svg-preloader">
      <!-- SVG Icon -->
      <figure class="ie-app-development">
        <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265651/svg/illustrations/app-development.svg" alt="SVG Illustration"
             data-parent="#SVGappDevelopment">
      </figure>
      <!-- End SVG Icon -->
    </div>
  </div>
</div>
<!-- End Mockup Block -->

<!-- Mockup Block -->
<div class="container space-top-2 space-top-md-3">
  <div class="row align-items-lg-center">
    <div class="col-lg-5 mb-7 mb-lg-0">
      <div class="pr-lg-4">
        <h2 class="h4 font-weight-semi-bold text-primary">{{.intro.heading3}}</h2>
        <p class="mb-0">{{.intro.text3}}</p>
      </div>
    </div>

    <div id="SVGbusinessAnalysis" class="col-lg-7 svg-preloader">
      <!-- SVG Icon -->
      <figure class="ie-business-analysis">
        <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265653/svg/illustrations/business-analysis.svg" alt="SVG Illustration"
             data-parent="#SVGbusinessAnalysis">
      </figure>
      <!-- End SVG Icon -->
    </div>
  </div>
</div>
      
    </div>
