    <div id="whatWeDoSection" class="container space-2 space-md-3">
<!-- Mockup Block -->
<div class="container space-bottom-2 space-bottom-md-3">
    
    
  <div class="row align-items-lg-center">
    <div class="col-lg-5 mb-7 mb-lg-0">
      <!-- Title -->
      <div class="pr-lg-4">
        <span class="btn btn-icon btn-soft-primary rounded-circle mb-3">
          <span class="small font-weight-semi-bold btn-icon__inner">01.</span>
        </span>
        <h2 class="h4 font-weight-semi-bold text-primary">{{.intro.heading}}</h2>
        <p class="mb-0">{{.intro.text}}</p>
      </div>
      <!-- End Title -->
    </div>

    <div id="SVGmarketingStrategy" class="col-lg-7 svg-preloader">
      <!-- SVG Icon -->
      <figure class="ie-marketing-strategy">
        <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265668/svg/illustrations/we-have-an-idea.svg" alt="Image Description"
             data-parent="#SVGwehaveanIdea">
      </figure>
      <!-- End SVG Icon -->
    </div>
  </div>
</div>
<!-- End Mockup Block -->

<!-- Mockup Block -->
<div class="container space-1">
  <div class="row align-items-lg-center">
    <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
      <!-- Title -->
      <div class="pl-lg-4">
        <span class="btn btn-icon btn-soft-primary rounded-circle mb-3">
          <span class="small font-weight-semi-bold btn-icon__inner">02.</span>
        </span>
        <h2 class="h4 font-weight-semi-bold text-primary">Safe. Stable. Secure.</h2>
        <p class="mb-0">Advanced distributed system architecture built to protect against DDoS and other potential threats. More than 98% of digital assets stored in multi-signature,cold wallets. Security protocols are fully aligned and compliant with industry best practices.</p>
      </div>
      <!-- End Title -->
    </div>

    <div id="SVGappDevelopment" class="col-lg-7 order-lg-1 svg-preloader">
      <!-- SVG Icon -->
      <figure class="ie-app-development">
        <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265651/svg/illustrations/app-development.svg" alt="SVG Illustration"
             data-parent="#SVGappDevelopment">
      </figure>
      <!-- End SVG Icon -->
    </div>
  </div>
</div>
<!-- End Mockup Block -->

<!-- Mockup Block -->
<div class="container space-top-2 space-top-md-3">
  <div class="row align-items-lg-center">
    <div class="col-lg-5 mb-7 mb-lg-0">
      <!-- Title -->
      <div class="pr-lg-4">
        <span class="btn btn-icon btn-soft-primary rounded-circle mb-3">
          <span class="small font-weight-semi-bold btn-icon__inner">03.</span>
        </span>
        <h2 class="h4 font-weight-semi-bold text-primary">Now, zero fees for everyone</h2>
        <p class="mb-0">Empowering millions of users, across 130+ countries. Over $1 Billion in assets. 24/7/365 customer access and support. A trusted world-class operation designed specifically for knowledgeable crypto-investors.</p>
      </div>
      <!-- End Title -->
    </div>

    <div id="SVGbusinessAnalysis" class="col-lg-7 svg-preloader">
      <!-- SVG Icon -->
      <figure class="ie-business-analysis">
        <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265653/svg/illustrations/business-analysis.svg" alt="SVG Illustration"
             data-parent="#SVGbusinessAnalysis">
      </figure>
      <!-- End SVG Icon -->
    </div>
  </div>
</div>
<!-- End Mockup Block -->
        
      <!--<div class="row justify-content-lg-between">
        <div class="col-lg-4 mb-7 mb-lg-0">
          <small class="text-secondary text-uppercase font-weight-medium mb-2">What we do?</small>
          <h3 class="font-weight-medium">{{.intro.heading}}</h3>
          <p>{{.intro.text}}</p>
        </div>

        <div class="col-lg-7">
          <div class="row">
            <div class="col-sm-6 mb-3">
              <!-- Icon Blocks -->
              <figure id="icon26" class="svg-preloader ie-height-56 w-100 max-width-8 mb-3">
                <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265730/svg/icons/icon-white-29.svg" alt="SVG"
                     data-parent="#icon26">
              </figure>
              <h4 class="h5">Marketing</h4>
              <p class="font-size-1">Front is an incredibly beautiful, fully responsive, and mobile-first projects on the web.</p>
              <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 mb-3">
              <!-- Icon Blocks -->
              <figure id="icon27" class="svg-preloader ie-height-56 w-100 max-width-8 mb-3">
                <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265728/svg/icons/icon-white-24.svg" alt="SVG"
                     data-parent="#icon27">
              </figure>
              <h4 class="h5">Clean design</h4>
              <p class="font-size-1">Front template can be easily customized with its cutting-edge components and features.</p>
              <!-- End Icon Blocks -->
            </div>

            <div class="w-100"></div>

            <div class="col-sm-6 mb-3 mb-sm-0">
              <!-- Icon Blocks -->
              <figure id="icon25" class="svg-preloader ie-height-56 w-100 max-width-8 mb-3">
                <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265728/svg/icons/icon-white-25.svg" alt="SVG"
                     data-parent="#icon25">
              </figure>
              <h4 class="h5">Social services <span class="badge badge-success font-weight-medium badge-pill ml-1">beta</span></h4>
              <p class="font-size-1">Front is not only for developers but also for designers, and includes a Sketch file.</p>
              <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6">
              <!-- Icon Blocks -->
              <figure id="icon28" class="svg-preloader ie-height-56 w-100 max-width-8 mb-3">
                <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265730/svg/icons/icon-white-28.svg" alt=""
                     data-parent="#icon28">
              </figure>
              <h4 class="h5">Creative ideas</h4>
              <p class="font-size-1">Every component and plugin is well documented with live examples.</p>
              <!-- End Icon Blocks -->
            </div>
          </div>
        </div>
      </div>
    </div>
