 <div class="card-sm-columns card-sm-2-count card-lg-3-count">
  <!-- Blog Masonry -->
  <article class="card border-0 mb-3">
    <img class="img-fluid rounded" src="../../assets/img/380x250/img6.jpg" alt="Image Description">
    <div class="card-body p-5">
      <small class="d-block text-secondary mb-1">April 29, 2018</small>
      <h3 class="h6 mb-0">
        <a href="#">5 basic tips for colors</a>
      </h3>
    </div>
  </article>
  <!-- End Blog Masonry -->

  <!-- Masonry -->
  <article class="card bg-primary text-white border-0 mb-3">
    <div class="card-body p-5">
      <small class="d-block mb-1">April 22, 2018</small>
      <h3 class="h6 text-white mb-0">
        <a href="#">Innovative ideas to stay profitable all day for 365 days</a>
      </h3>
    </div>
  </article>
  <!-- End Blog Masonry -->

  <!-- Blog Masonry -->
  <article class="card border-0 mb-3">
    <img class="img-fluid rounded" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265811/img/380x250/img8.jpg" alt="Image Description">
    <div class="card-body p-5">
      <small class="d-block text-secondary mb-1">April 29, 2018</small>
      <h3 class="h6 mb-0">
        <a href="#">Classic design principles</a>
      </h3>
    </div>
  </article>
  <!-- End Blog Masonry -->

  <!-- Blog Masonry -->
  <article class="card border-0 mb-3">
    <img class="img-fluid rounded" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265854/img/500x550/img2.jpg" alt="Image Description">
    <div class="card-body p-5">
      <small class="d-block text-secondary mb-1">April 1, 2018</small>
      <h3 class="h6 mb-0">
        <a href="single-article-classic.html">Smartbtc sees the need for contracts</a>
      </h3>
    </div>
  </article>
  <!-- End Blog Masonry -->
</div>  

<!-- <div class="bg-off-white pv4">
	<div class="ph3 mw7 center">

		<h2 class="f2 b lh-title mb3">Latest stories</h1>

		<div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
			{{ range first 4 (where .Data.Pages "Type" "post") }}
				<div class="ph1-ns w-50-ns flex">
					{{ .Render "li" }}
				</div>
			{{ end }}
		</div>

		<div class="tc">
			<a href="/post" class="btn raise">Read more</a>
		</div>

	</div>
</div>-->
