   <!-- Works Section -->
    <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll bg-light" data-options='{direction: "reverse"}'>
      <div class="dzsparallaxer--target">
        <div class="container-fluid px-lg-6">
          <div class="row justify-content-center">
            <div class="col-3 my-4" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"15", mid:"0", final:"-15"}]'>
              <!-- Logo -->
              <div class="d-none d-md-block bg-white u-lg-avatar shadow-sm rounded-circle p-4 mx-auto">
                <img class="img-fluid" src="../../assets/img/160x160/img17.png" alt="Image Description">
              </div>
              <!-- End Logo -->
            </div>
            <div class="col-3 mb-4" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"5", mid:"0", final:"-5"}]'>
              <!-- Logo -->
              <div class="bg-white u-lg-avatar shadow-sm rounded-circle p-4 mx-auto">
                <img class="img-fluid" src="../../assets/img/160x160/img12.png" alt="Image Description">
              </div>
              <!-- End Logo -->
            </div>
            <div class="col-3 my-4" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"11", mid:"0", final:"-11"}]'>
              <!-- Logo -->
              <div class="d-none d-md-block bg-white u-lg-avatar shadow-sm rounded-circle p-4 mx-auto">
                <img class="img-fluid" src="../../assets/img/160x160/img13.png" alt="Image Description">
              </div>
              <!-- End Logo -->
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col-3 mb-4" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"7", mid:"0", final:"-7"}]'>
              <!-- Logo -->
              <div class="bg-white u-lg-avatar shadow-sm rounded-circle p-4">
                <img class="img-fluid" src="../../assets/img/160x160/img14.png" alt="Image Description">
              </div>
              <!-- End Logo -->
            </div>
            <div class="col-3 my-4" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"7", mid:"0", final:"-7"}]'>
              <!-- Logo -->
              <div class="bg-white u-lg-avatar shadow-sm rounded-circle p-4 ml-auto">
                <img class="img-fluid" src="../../assets/img/160x160/img15.png" alt="Image Description">
              </div>
              <!-- End Logo -->
            </div>
          </div>

          <div class="row">
            <div class="col-3 offset-1 my-4" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"15", mid:"0", final:"-15"}]'>
              <!-- Logo -->
              <div class="d-none d-md-block bg-white u-lg-avatar shadow-sm rounded-circle p-4 ml-auto">
                <img class="img-fluid" src="../../assets/img/160x160/img8.jpg" alt="Image Description">
              </div>
              <!-- End Logo -->
            </div>
            <div class="col-3 offset-2 my-4" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"11", mid:"0", final:"-11"}]'>
              <!-- Logo -->
              <div class="d-none d-md-block bg-white u-lg-avatar shadow-sm rounded-circle p-4 ml-auto">
                <img class="img-fluid" src="../../assets/img/160x160/img6.jpg" alt="Image Description">
              </div>
              <!-- End Logo -->
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col-4" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"11", mid:"0", final:"-11"}]'>
              <!-- Logo -->
              <div class="bg-white u-lg-avatar shadow-sm rounded-circle p-4 mx-auto">
                <img class="img-fluid" src="../../assets/img/160x160/img16.png" alt="Image Description">
              </div>
              <!-- End Logo -->
            </div>
            <div class="col-4 mt-6" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"5", mid:"0", final:"-5"}]'>
              <!-- Logo -->
              <div class="d-none d-sm-block bg-white u-lg-avatar shadow-sm rounded-circle p-4 mx-auto">
                <img class="img-fluid" src="../../assets/img/160x160/img10.jpg" alt="Image Description">
              </div>
              <!-- End Logo -->
            </div>
            <div class="col-4 mt-6" data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"15", mid:"0", final:"-15"}]'>
              <!-- Logo -->
              <div class="bg-white u-lg-avatar shadow-sm rounded-circle p-4 mx-auto">
                <img class="img-fluid" src="../../assets/img/160x160/img11.jpg" alt="Image Description">
              </div>
              <!-- End Logo -->
            </div>
          </div>
        </div>
      </div>

      <div class="container space-3 space-sm-4">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto">
          <h2 class="h1 font-weight-medium mb-5">Our branding works</h2>
          <a class="btn btn-primary btn-pill btn-wide transition-3d-hover" href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/" target="_blank">Learn More</a>
        </div>
        <!-- End Title -->
      </div>
    </div>
    <!-- End Works Section -->

<!-- <div class="bg-off-white pv4">
	<div class="ph3 mw7 center">

		<h2 class="f2 b lh-title mb3">Latest stories</h1>

		<div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
			{{ range first 4 (where .Data.Pages "Type" "post") }}
				<div class="ph1-ns w-50-ns flex">
					{{ .Render "li" }}
				</div>
			{{ end }}
		</div>

		<div class="tc">
			<a href="/post" class="btn raise">Read more</a>
		</div>

	</div>
</div>-->
