
      <div class="w-lg-100 mx-auto">
        <!-- Contacts Form -->
        <form name="contact" class="js-validate" method="POST" netlify-honeypot="bot-field" data-netlify="true" netlify>
     <div class="w-lg-10" style="display:none;">
    <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
  </div>
          <div class="row">
            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="js-form-message">
                <label class="form-label text-white">
                  Your name
                  <span class="text-danger">*</span>
                </label>

                <input type="text" class="form-control" name="name" placeholder="Rich Roe" aria-label="Rich Roe" required
                       data-msg="Please enter your name."
                       data-error-class="u-has-error"
                       data-success-class="u-has-success" />
              </div>
            </div>
            <!-- End Input -->

            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="js-form-message">
                <label class="form-label text-white">
                  Your email address
                  <span class="text-danger">*</span>
                </label>

                <input type="email" class="form-control" name="email" placeholder="anybody@gmail.com" aria-label="anybody@gmail.com" required
                       data-msg="Please enter a valid email address."
                       data-error-class="u-has-error"
                       data-success-class="u-has-success" />
              </div>
            </div>
            <!-- End Input -->

            <div class="w-100"></div>

            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="js-form-message">
                <label class="form-label text-white">
                  Subject
                  <span class="text-danger">*</span>
                </label>

                <input type="text" class="form-control" name="subject" placeholder="App design" aria-label="App design" required
                       data-msg="Please enter a subject."
                       data-error-class="u-has-error"
                       data-success-class="u-has-success" />
              </div>
            </div>
            <!-- End Input -->

            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="js-form-message">
                <label class="form-label text-white">
                  Your Phone Number
                  <span class="text-danger">*</span>
                </label>

                <input type="number" class="form-control" name="phone" placeholder="1-800-643-4500" aria-label="1-800-643-4500" required
                       data-msg="Please enter a valid phone number."
                       data-error-class="u-has-error"
                       data-success-class="u-has-success" />
              </div>
            </div>
            <!-- End Input -->
          </div>

          <!-- Input -->
          <div class="js-form-message mb-6">
            <label class="form-label text-white">
              How can we help you?
              <span class="text-danger">*</span>
            </label>

            <div class="input-group">
              <textarea class="form-control" rows="4" name="message" placeholder="Hi there, I would like to ..." aria-label="Hi there, I would like to ..." required
                        data-msg="Please enter a reason."
                        data-error-class="u-has-error"
                        data-success-class="u-has-success" /></textarea>
            </div>
          </div>
          <!-- End Input -->

          <div class="text-center">
            <button type="submit" class="btn btn-success btn-wide transition-3d-hover mb-4">Submit</button>
            <p class="small text-white">We'll get back to you in 24-48 hours.</p>
          </div>
        </form>
        <!-- End Contacts Form -->
</div>
