<div class="d-flex align-items-center space-2 min-height-380 pl-lg-7">
          <div class="d-block">
            <h2 class="text-white">Get in touch</h2>
            <p class="text-white-70 mb-4">If you would like to find out more about how we can help you, please give us a call or drop us an email.</p>
            <a class="btn text-warning btn-white btn-wide transition-3d-hover" href="/contact/">Contact Us</a>
          </div>
        </div>

        <figure class="w-50 position-absolute right-0 bottom-0">
          <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265651/svg/illustrations/app-development.svg" alt="SVG Illustration"
               data-parent="#SVGcontactsSection">
        </figure>
        <!-- End Contact Us -->
      </div>
    </div>
  </div>

  <div class="col-lg-6 gradient-half-primary-v1 position-absolute top-0 left-0 min-height-380"></div>
</div>
