
    <!-- Subscribe Section -->
    <div class="container space-2 space-md-3">
      <div class="w-md-80 w-lg-50 text-center mx-md-auto">
        <!-- Title -->
        <div class="mb-9">
          <span class="btn btn-xs btn-soft-primary btn-pill mb-2">Get A Free Quote</span>
          <h2 class="font-weight-normal">Stay in the know</h2>
          <p class="mb-0">Request a free quote and get special offers on the latest developments from Finteligencia.</p>
        </div>
        <!-- End Title -->

        <!-- Input -->
        <form class="js-validate js-form-message">
          <label class="sr-only" for="subscribeSrEmail">Enter your email address</label>
          <div class="input-group">
            <input type="text" class="form-control" name="name" id="subscribeSrEmail" placeholder="Enter your email address" aria-label="Enter your email address" aria-describedby="subscribeEmailButton" required
                   data-msg="Please enter a valid email address."
                   data-error-class="u-has-error"
                   data-success-class="u-has-success">
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary" id="subscribeEmailButton">Subscribe</button>
            </div>
          </div>
        </form>
        <!-- End Input -->
      </div>
    </div>
    <!-- End CTA Section -->

    <!-- SVG Icon -->
    <div class="container">
      <div id="SVGsubscribe1" class="svg-preloader w-lg-80 mx-lg-auto">
        <figure class="ie-subscribe-1">
          <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265698/svg/flat-icons/subscribe-1.svg" alt="Image Description"
               data-parent="#SVGsubscribe1">
        </figure>
      </div>
    </div>
    <!-- End SVG Icon -->
