<!-- Devices v2 Section -->
    <div id="SVGdevicesV2" class="svg-preloader gradient-half-primary-v1 u-devices-v2">
      <div class="container space-2 space-md-3 position-relative z-index-2">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto">
          <span class="btn btn-lg btn-icon btn-white rounded-circle mb-4">
            <span class="fas fa-paper-plane text-primary btn-icon__inner"></span>
          </span>
          <h2 class="h1 text-white">Dapp <span class="font-weight-semi-bold">development</span></h2>
          <p class="lead text-white-70 mb-0">Your app should run on all platforms, correct, technically they should but when it comes.</p>
        </div>
        <!-- End Title -->
      </div>

      <!-- Devices v2 -->
      <div class="d-none d-lg-block">
        <!-- SVG Tablet Mockup -->
        <div class="u-devices-v2__tablet">
          <div class="w-75 u-devices-v2__tablet-svg">
            <figure class="ie-devices-v2-tablet">
              <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265685/svg/components/tablet.svg" alt=""
                   data-img-paths='[
                     {"targetId": "#SVGtabletImg1", "newPath": "https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554438790/img/700x525/img111.jpg"}
                   ]'
                   data-parent="#SVGdevicesV2">
            </figure>
          </div>
        </div>
        <!-- End SVG Tablet Mockup -->

        <!-- SVG Phone Mockup -->
        <div class="u-devices-v2__phone">
          <div class="w-75 u-devices-v2__phone-svg">
            <figure class="ie-devices-v2-iphone">
              <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265681/svg/components/iphone.svg" alt=""
                   data-img-paths='[
                     {"targetId": "#SVGiphoneImg1", "newPath": "https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265808/img/500x280/img11.jpg"}
                   ]'
                   data-parent="#SVGdevicesV2">
            </figure>
          </div>
        </div>
        <!-- End SVG Phone Mockup -->
      </div>
      <!-- End Devices v2 -->

      <!-- SVG Background Shape -->
      <figure class="w-100 content-centered-y position-absolute right-0 bottom-0">
        <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265683/svg/components/process-pointer-1.svg" alt="Image Description"
             data-parent="#SVGdevicesV2">
      </figure>
      <!-- End SVG Background Shape -->
    </div>
    <!-- End Devices v2 Section -->
