
    <!-- Hero Section -->
    <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll"
         data-options='{direction: "normal"}'>
      <!-- Apply your Parallax background image here -->
      <div class="divimage dzsparallaxer--target u-bg-overlay-v3" style="height: 120%; background-image: url(https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265785/img/1920x1080/img4.jpg);"></div>

      <div class="d-lg-flex">
        <div class="container d-lg-flex align-items-lg-center min-height-lg-100vh position-relative space-2 space-top-md-5 space-bottom-4 z-index-2">
          <!-- Content -->
          <div class="w-lg-80 text-center mx-auto">
            <h1 class="display-3 font-size-md-down-5 text-white font-weight-semi-bold mb-0">How we build dreams into software</h1>
          </div>
          <!-- End Content -->

          <!-- Clients Section -->
          <div class="container position-absolute right-0 bottom-0 left-0 z-index-2 mb-3">
            <div class="gradient-half-primary-v1 space-1 rounded-pill">
              <!-- Clients Carousel -->
              <div class="js-slick-carousel u-slick"
                   data-infinite="true"
                   data-slides-show="7"
                   data-responsive='[{
                     "breakpoint": 1200,
                     "settings": {
                       "slidesToShow": 6
                     }
                   }, {
                     "breakpoint": 992,
                     "settings": {
                       "slidesToShow": 5
                     }
                   }, {
                     "breakpoint": 768,
                     "settings": {
                       "slidesToShow": 4
                     }
                   }, {
                     "breakpoint": 576,
                     "settings": {
                       "slidesToShow": 4
                     }
                   }, {
                     "breakpoint": 480,
                     "settings": {
                       "slidesToShow": 3
                     }
                   }, {
                     "breakpoint": 380,
                     "settings": {
                       "slidesToShow": 2
                     }
                   }]'>
                <div class="js-slide">
                  <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265643/svg/clients-logo/google-white.svg" alt="">
                </div>
                <div class="js-slide">
                  <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265650/svg/clients-logo/stripe-white.svg" alt="">
                </div>
                <div class="js-slide">
                  <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265645/svg/clients-logo/mapbox-white.svg" alt="">
                </div>
                <div class="js-slide">
                  <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265646/svg/clients-logo/paypal-white.svg" alt="">
                </div>
                <div class="js-slide">
                  <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265648/svg/clients-logo/slack-white.svg" alt="">
                </div>
                <div class="js-slide">
                  <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265638/svg/clients-logo/airbnb-white.svg" alt="">
                </div>
                <div class="js-slide">
                  <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265641/svg/clients-logo/embark-white.svg.svg" alt="">
                </div>
              </div>
              <!-- End Clients Carousel -->
            </div>
          </div>
          <!-- End Clients Section -->
        </div>
      </div>
    </div>
    <!-- End Hero Section -->
