 <!-- Icon Blocks Section -->
    <div class="container space-2 space-md-3">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <span class="btn btn-xs btn-soft-primary btn-pill mb-2">Why Us?</span>
        <h2 class="font-weight-normal">{{.heading}}</h2>
        <p class="mb-0">Enhance your brand with easy-to-use powerful customization features.</p>
      </div>
      <!-- End Title -->

      <div class="row justify-content-center mx-gutters-2">
        <div class="col-sm-6 col-lg-4 mb-7 mb-lg-0">
          <!-- Icon Blocks -->
          <div class="text-center px-5">
            <!-- SVG Icon -->
            <figure id="SVGmobileMarketing" class="svg-preloader w-75 mx-auto mb-4">
              <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265694/svg/flat-icons/mobile-marketing.svg" alt="Image Description"
                   data-parent="#SVGmobileMarketing">
            </figure>
            <!-- End SVG Icon -->

            <!-- Info -->
            <div class="mb-4">
              <h3 class="h5">App Development</h3>
              <p class="mb-md-0">Achieve virtually any design and layout from within the one template.</p>
            </div>
            <!-- End Info -->

            <a class="btn btn-sm btn-soft-primary btn-pill transition-3d-hover" href="/" target="_blank">
             Learn More
              <span class="fas fa-angle-right ml-2"></span>
            </a>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-sm-6 col-lg-4 mb-7 mb-lg-0">
          <!-- Icon Blocks -->
          <div class="text-center px-5">
            <!-- SVG Icon -->
            <figure id="SVGservices" class="svg-preloader w-75 mx-auto mb-4">
              <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265696/svg/flat-icons/services.svg" alt=""
                   data-parent="#SVGservices">
            </figure>
            <!-- End SVG Icon -->

            <!-- Info -->
            <div class="mb-4">
              <h3 class="h5">IT Consulting</h3>
              <p class="mb-md-0">Find what you need in one template and combine features at will.</p>
            </div>
            <!-- End Info -->

            <a class="btn btn-sm btn-soft-primary btn-pill transition-3d-hover" href="/services">
             Learn More
              <span class="fas fa-angle-right ml-2"></span>
            </a>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-sm-6 col-lg-4">
          <!-- Icon Blocks -->
          <div class="text-center px-5">
            <!-- SVG Icon -->
            <figure id="SVGgraphicDesign" class="svg-preloader w-75 mx-auto mb-4">
              <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265693/svg/flat-icons/graphic-design.svg" alt="Image Description"
                   data-parent="#SVGgraphicDesign">
            </figure>
            <!-- End SVG Icon -->

            <!-- Info -->
            <div class="mb-4">
              <h3 class="h5">Technology Solutions</h3>
              <p class="mb-md-0">The time has come to bring those ideas and plans to life.</p>
            </div>
            <!-- End Info -->

            <a class="btn btn-sm btn-soft-primary btn-pill transition-3d-hover" href="/services">
              Learn More
              <span class="fas fa-angle-right ml-2"></span>
            </a>
          </div>
          <!-- End Icon Blocks -->
        </div>
      </div>
    </div>
    <!-- End Icon Blocks Section -->
<!-- <div class="bg-grey-1 pv4">
  <div class="flex-l mhn1-l ph3 center mw7">
    <h2 class="f2 b lh-title mb2 w-40-l">{{.heading}}</h2>
    <p class="w-60-l mb0">{{.text}}</p>
  </div>
</div> -->
