<div id="featuresSection" class="container space-2 space-md-3 active">
      <!-- Title -->
      <div class="w-md-80 w-lg-40 text-center mx-md-auto mb-9">
        <small class="text-secondary text-uppercase font-weight-medium mb-2">Features</small>
        <h2 class="h3 font-weight-semi-bold">A simple template for all businesses</h2>
      </div>
      <!-- End Title -->

      <div id="SVGmockupBg" class="" style="">
        <!-- Nav Classic -->
        <div class="position-relative w-lg-85 bg-white text-center z-index-2 mx-lg-auto">
          <ul class="nav nav-classic nav-rounded nav-shadow nav-justified" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link font-weight-medium active" id="pills-one-tab" data-toggle="pill" href="#pills-one" role="tab" aria-controls="pills-one" aria-selected="true">
                <div class="d-md-flex justify-content-md-center align-items-md-center">
                  <figure class="ie-height-40 d-none d-md-block w-100 max-width-6 mr-3">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGmockupBg">
<style type="text/css">
	.icon-14-0{fill:none;stroke:#BDC5D1;}
	.icon-14-1{fill:none;stroke:#FFFFFF;}
	.icon-14-2{fill:#377DFF;}
	.icon-14-3{fill:none;stroke:#377DFF;}
</style>
<line class="icon-14-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="97.8" y1="37.8" x2="109.8" y2="37.8"></line>
<line class="icon-14-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="97.8" y1="45.7" x2="109.8" y2="45.7"></line>
<line class="icon-14-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="97.8" y1="53.7" x2="109.8" y2="53.7"></line>
<line class="icon-14-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="83.7" y1="99.5" x2="83.7" y2="89"></line>
<line class="icon-14-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="90.2" y1="99.5" x2="90.2" y2="86.6"></line>
<line class="icon-14-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="96.8" y1="99.5" x2="96.8" y2="89"></line>
<line class="icon-14-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="109.8" y1="99.5" x2="109.8" y2="78"></line>
<line class="icon-14-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="103.3" y1="99.5" x2="103.3" y2="82.4"></line>
<polygon class="icon-14-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="103.6,26.5 118.1,26.5 103.6,12 "></polygon>
<g>
	<line class="icon-14-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="103.6" y1="12" x2="69.6" y2="12"></line>
	<polyline class="icon-14-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="118.1,26.5 118.1,109.2 81.5,109.2  "></polyline>
</g>
<path class="icon-14-2 fill-primary" d="M37.4,34.3c0,0,0.5,14.5-17.9,14.4l-7.5,6.6H6.6l-5.9-4.7v-6.7L14.4,29L11,26.5l7.5-9.1c0,0,2.8-1.8,7.1-3.3  c0.2-2.2,0.5-11.5,0.5-11.5s6.2,7,8.7,9.7c6.4-0.4,14,1.2,21.3,7.3c18,15,10.8,35.4,8.9,39.5c-1.9,4.1-10.5,20.7-10.6,29.1H16.6  c0,0-1.7-17.9,6.5-25C33.2,54.5,38.6,48.7,35,42.3"></path>
<path class="icon-14-3 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M35.1,4.2c8-0.4,17.5,1.4,26.6,9C84.1,32,75,57.3,72.8,62.4c-2.9,6.6-8.9,20-10,25.8"></path>
<path class="icon-14-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M65.3,98.5H13.8c-1.5,0-2.7-1.2-2.7-2.7l0,0c0-1.5,1.2-2.7,2.7-2.7h51.5c1.5,0,2.7,1.2,2.7,2.7l0,0  C68,97.3,66.8,98.5,65.3,98.5z"></path>
<path class="icon-14-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M75.1,116.1v-1.3c0-6.2-5.1-11.3-11.3-11.3H15.3c-6.2,0-11.3,5.1-11.3,11.3v1.3H75.1z"></path>
<polyline class="icon-14-3 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="20.6,7.4 13.3,11.3 15.1,14.6 "></polyline>
<polyline class="icon-14-1 fill-none stroke-white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="19.9,27.5 25.9,25.7 21.3,30.1 "></polyline>
<rect x="83.7" y="34.7" class="icon-14-3 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" width="5.9" height="5.9"></rect>
<polyline class="icon-14-3 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="75.1,86.6 88.4,76.3 93.1,80.3 111.8,68.2 "></polyline>
</svg>
                  </figure>
                  Priority
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-medium" id="pills-two-tab" data-toggle="pill" href="#pills-two" role="tab" aria-controls="pills-two" aria-selected="false">
                <div class="d-md-flex justify-content-md-center align-items-md-center">
                  <figure class="ie-height-40 d-none d-md-block w-100 max-width-6 mr-3">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGmockupBg">
<style type="text/css">
	.icon-21-0{fill:#BDC5D1;}
	.icon-21-1{fill:#377DFF;}
	.icon-21-2{fill:#FFFFFF;}
	.icon-21-3{fill:none;stroke:#BDC5D1;}
</style>
<path class="icon-21-0 fill-gray-400" opacity=".5" d="M59.3,90.9L59.3,90.9c-4.6,4.6-12.5,1.7-13.1-4.8v0c-0.4-4.2-4.1-7.3-8.3-7l0,0c-6.5,0.5-10.7-6.7-7-12.1v0  c2.4-3.5,1.6-8.2-1.9-10.7l0,0c-5.3-3.8-3.9-12,2.4-13.7l0,0c4.1-1.1,6.5-5.3,5.4-9.4l0,0c-1.7-6.3,4.8-11.7,10.7-8.9l0,0  c3.8,1.8,8.4,0.1,10.2-3.7l0,0c2.8-5.9,11.2-5.9,13.9,0l0,0c1.8,3.8,6.4,5.5,10.2,3.7l0,0c5.9-2.7,12.3,2.7,10.7,8.9l0,0  c-1.1,4.1,1.3,8.3,5.4,9.4l0,0c6.3,1.7,7.7,10,2.4,13.7l0,0c-3.5,2.4-4.3,7.2-1.9,10.7v0c3.7,5.3-0.5,12.6-7,12.1l0,0  c-4.2-0.4-7.9,2.8-8.3,7v0c-0.6,6.5-8.5,9.3-13.1,4.8v0C67.1,87.9,62.3,87.9,59.3,90.9z"></path>
<path class="icon-21-1 fill-primary" d="M54.6,79.8L54.6,79.8C50,84.4,42.1,81.5,41.5,75v0c-0.4-4.2-4.1-7.3-8.3-7l0,0c-6.5,0.5-10.7-6.7-7-12.1v0  c2.4-3.5,1.6-8.2-1.9-10.7l0,0c-5.3-3.8-3.9-12,2.4-13.7l0,0c4.1-1.1,6.5-5.3,5.4-9.4l0,0c-1.7-6.3,4.8-11.7,10.7-8.9l0,0  c3.8,1.8,8.4,0.1,10.2-3.7l0,0c2.8-5.9,11.2-5.9,13.9,0l0,0c1.8,3.8,6.3,5.5,10.2,3.7l0,0c5.9-2.7,12.3,2.7,10.7,8.9l0,0  c-1.1,4.1,1.3,8.3,5.4,9.4l0,0c6.3,1.7,7.7,10,2.4,13.7l0,0c-3.5,2.4-4.3,7.2-1.9,10.7v0c3.7,5.3-0.5,12.6-7,12.1l0,0  c-4.2-0.4-7.9,2.8-8.3,7v0c-0.6,6.5-8.5,9.3-13.1,4.8v0C62.4,76.8,57.6,76.8,54.6,79.8z"></path>
<circle class="icon-21-2 fill-white" cx="60" cy="43.6" r="15.1"></circle>
<polyline class="icon-21-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="79.5,92.9 91.2,114.8 100.9,100.3 118.3,100.4 102.9,71.4 "></polyline>
<polyline class="icon-21-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="40.5,92.9 28.8,114.8 19.1,100.3 1.7,100.4 17.1,71.4 "></polyline>
</svg>
                  </figure>
                  Achieve
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link font-weight-medium" id="pills-three-tab" data-toggle="pill" href="#pills-three" role="tab" aria-controls="pills-three" aria-selected="false">
                <div class="d-md-flex justify-content-md-center align-items-md-center">
                  <figure class="ie-height-40 d-none d-md-block w-100 max-width-6 mr-3">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGmockupBg">
<style type="text/css">
	.icon-5-0{fill:#BDC5D1;}
	.icon-5-1{fill:#377DFF;}
	.icon-5-2{fill:#FFFFFF;}
	.icon-5-3{fill:none;stroke:#BDC5D1;}
	.icon-5-5{fill:none;stroke:#377DFF;}
</style>
<circle class="icon-5-0 fill-gray-400" opacity=".5" cx="82.2" cy="92.3" r="27.2"></circle>
<circle class="icon-5-1 fill-primary" cx="72.2" cy="83.8" r="27.2"></circle>
<g>
	<path class="icon-5-2 fill-white" d="M76.4,82.9c1.3,0.4,2.3,1.1,3.2,2c0.9,1,1.5,2.1,1.8,3.3s0.2,2.6-0.2,3.9c-0.5,1.4-1.4,2.6-2.7,3.4   c-1.3,0.8-2.7,1.3-4.2,1.3v3.1c0,0.3-0.1,0.6-0.3,0.7s-0.4,0.3-0.7,0.3h-2.1c-0.3,0-0.6-0.1-0.7-0.3s-0.3-0.4-0.3-0.7v-3.1   c-2.1,0-4-0.6-5.6-1.9c-0.2-0.2-0.3-0.5-0.4-0.8c0-0.3,0.1-0.6,0.3-0.8l2.2-2.2c0.2-0.1,0.4-0.2,0.6-0.3c0.2,0,0.5,0,0.7,0.2   c0.6,0.4,1.4,0.6,2.2,0.6h4.3c0.5,0,1-0.2,1.3-0.6c0.4-0.4,0.6-0.8,0.6-1.4c0-0.4-0.1-0.8-0.4-1.1c-0.3-0.3-0.6-0.6-1-0.7L68.3,86   c-1.5-0.4-2.7-1.2-3.7-2.3c-1-1.1-1.6-2.4-1.8-3.9c-0.1-1.4,0.2-2.7,0.8-3.9s1.5-2.1,2.6-2.9c1.1-0.7,2.4-1.1,3.8-1.1h0.1v-3.1   c0-0.3,0.1-0.6,0.3-0.7s0.4-0.3,0.7-0.3h2.1c0.3,0,0.6,0.1,0.7,0.3s0.3,0.4,0.3,0.7v3.1c2.1,0,3.9,0.6,5.6,1.9   c0.3,0.2,0.4,0.5,0.5,0.8c0,0.3-0.1,0.6-0.3,0.8l-2.2,2.3c-0.2,0.1-0.4,0.2-0.6,0.3c-0.2,0-0.5,0-0.7-0.1c-0.6-0.5-1.4-0.7-2.2-0.7   h-4.3c-0.5,0-1,0.2-1.3,0.6c-0.4,0.4-0.6,0.8-0.6,1.4c0,0.4,0.1,0.8,0.4,1.1c0.3,0.3,0.6,0.6,1,0.7L76.4,82.9z"></path>
</g>
<path class="icon-5-3 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M38.4,81.7H7.1c-2.7,0-5-2.2-5-5V7.5c0-2.7,2.2-5,5-5h106c2.7,0,5,2.2,5,5v69.2c0,2.7-2.2,5-5,5l0,0"></path>
<ellipse class="icon-5-3 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="35.3" cy="12.6" rx="3.1" ry="3.1"></ellipse>
<circle class="icon-5-3 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="23.6" cy="12.6" r="3.1"></circle>
<circle class="icon-5-5 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" cx="12" cy="12.6" r="3.1"></circle>
<polyline class="icon-5-5 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="14.7,63.8 43.3,48.1 48.6,53.9 71.2,40.1 78.5,48.5 110.4,21.6 "></polyline>
<polyline class="icon-5-5 fill-none stroke-primary" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="101.3,23.6 110.4,21.6 107.4,30.2 "></polyline>
<polyline class="icon-5-3 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="83.5,34.8 83.5,17.3 89.3,17.3 89.3,29.6 "></polyline>
<polyline class="icon-5-3 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="60.8,39 60.8,23.6 66.5,23.6 66.5,34.8 "></polyline>
<polyline class="icon-5-3 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="49.4,45.4 49.4,36.3 55.1,36.3 55.1,42.2 "></polyline>
<polyline class="icon-5-3 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="38,43.3 38,32 43.7,32 43.7,40.1 "></polyline>
<polyline class="icon-5-3 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="26.6,49.6 26.6,41.6 32.3,41.6 32.3,46.4 "></polyline>
<polyline class="icon-5-3 fill-none stroke-gray-400" opacity=".5" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" points="72.2,33.6 72.2,27.8 77.9,27.8 77.9,37.9 "></polyline>
</svg>
                  </figure>
                  Performance
                </div>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Nav Classic -->

        <!-- Tab Content -->
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade pt-9 show active" id="pills-one" role="tabpanel" aria-labelledby="pills-one-tab">
            <!-- Mockup Block -->
            <div class="row justify-content-lg-between align-items-lg-center">
              <div class="col-lg-4 mb-9 mb-lg-0">
                <!-- Info -->
                <div class="mb-5">
                  <h3 class="h4 font-weight-semi-bold">Set your priorities and align your teams</h3>
                  <p>This is where we sit down, grab a cup of coffee and dial in the details.</p>
                </div>

                <ul class="list-unstyled text-secondary font-size-1">
                  <li class="media my-3">
                    <span class="fas fa-check text-primary mt-1 mr-3"></span>
                    <span class="media-body">
                      Understanding who you are
                    </span>
                  </li>
                  <li class="media my-3">
                    <span class="fas fa-check text-primary mt-1 mr-3"></span>
                    <span class="media-body">
                      Whether it's branding, print, UI + UX
                    </span>
                  </li>
                  <li class="media my-3">
                    <span class="fas fa-check text-primary mt-1 mr-3"></span>
                    <span class="media-body">
                      We've got your front end and back end needs covered
                    </span>
                  </li>
                </ul>
                <!-- End Info -->
              </div>

              <div class="col-lg-7 position-relative">
                <div class="pl-md-9">
                  <img class="img-fluid shadow rounded" src="../../assets/img/700x525/img1.jpg" alt="Image Description">
                </div>

                <!-- SVG Component -->
                <div class="position-absolute bottom-0 left-0 w-75 z-index-n1">
                  <figure class="ie-abstract-shapes-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 594.8 635.9" style="enable-background:new 0 0 594.8 635.9;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGmockupBg">
<style type="text/css">
	.abstract-shapes-2-0{fill:#00DFFC;}
	.abstract-shapes-2-1{fill:#FFFFFF;}
	.abstract-shapes-2-2{fill:#FFC107;}
	.abstract-shapes-2-3{fill:none;stroke:#FFFFFF;}
</style>
<linearGradient id="abstractShapes2_1" gradientUnits="userSpaceOnUse" x1="398.8661" y1="308.7762" x2="939.4257" y2="27.2455" gradientTransform="matrix(0.6089 0.7932 0.7932 -0.6089 -231.4881 -61.871)">
	<stop class="stop-color-indigo" offset="0" style="stop-color:#2D1582"></stop>
	<stop class="stop-color-primary" offset="1" style="stop-color:#377DFF"></stop>
</linearGradient>
<path fill="url(#abstractShapes2_1)" d="M579.8,456.7c-14.7-73.5-31.3-154.9-83.3-212.2c-65.3-72-161.9-133.7-254.4-163.2c-47-15-86,2.5-110.9,44.3  c-16,27-22.7,58.9-40.6,84.6c-15.9,22.8-39.2,42.2-46.9,69.9c-8.5,30.5,9.6,62.6,30.7,83.4c17.8,17.6,39.5,29.4,64.9,30.3  c8.4,0.3,17.5-0.9,27-2.6c42-7.5,90.3-24.9,102.6,33.2c5,23.8-6.2,42.3-17.3,62.5c-13.7,24.7-22.3,55.9-14.8,83.9  c7.5,28.2,36.2,56.4,66.7,40.8c35.1-18,43.6-64.2,82.1-79.3c24.1-9.4,45.7,1.1,63,18.9c11,11.4,19.3,25.2,26.5,39.4  c16.5,32.6,49.9,60.7,86.9,35.6C615.3,590.2,590,507.3,579.8,456.7z"></path>
<path class="abstract-shapes-2-0 fill-info" d="M281.6,97c6.4,18,14.6,44.8,7,62.5c-5.8,13.7-16.8,33.9-30.5,31.1c-11.6-14.9-35.1-46-50.3-58.2  c-12.5-10.1-31.7-20.4-43.9-31.4c-30.2-27.1-41.8-64.1-58.6-101c30.5,3.1,60.7,8.8,90.6,17.1c19.2,5.5,39,12.5,53.7,25.9  C265.7,57.1,274.9,76.9,281.6,97z"></path>
<g>
	<g>
		<path class="abstract-shapes-2-1 fill-white" d="M107.1,1.8c35.5,16.9,68.3,39,96.3,66.2c30.4,30,50.7,65.2,73.5,100.4c0.3,1,2.4,0,1.4-1    c-39-72.8-93.8-134.2-171.1-166.6C107.1,0.8,106.4,1.1,107.1,1.8L107.1,1.8z"></path>
	</g>
	<g>
		<path class="abstract-shapes-2-1 fill-white" d="M127.8,48c24.5-1.4,45.9-0.3,67.3,13.1c1.4,1,2.8-1.4,1.4-2.4c-19-12.4-46.6-20-69-12.4    C126.8,47,126.8,48,127.8,48L127.8,48z"></path>
	</g>
	<g>
		<path class="abstract-shapes-2-1 fill-white" d="M166.1,88.8c11.7,0,23.1-0.3,34.5,2.4c10.4,2.4,20.4,6.2,30.7,10c1.4,0.3,1.7-1.4,0.3-2.4    c-20.7-7.6-44.2-16.6-66.2-11C165.8,88.4,165.8,88.8,166.1,88.8L166.1,88.8z"></path>
	</g>
	<g>
		<path class="abstract-shapes-2-1 fill-white" d="M211.7,125c7.9,0.3,16.6,1.4,24.5,2.8c9.3,1.7,15.5,6.6,21.7,13.8c1,1,2.8-0.3,1.7-1.7    c-5.5-6.6-11.4-11.4-20.4-13.8c-9-1.7-18.6-2.4-27.9-1.7C211.3,123.9,211.3,125,211.7,125L211.7,125z"></path>
	</g>
	<g>
		<path class="abstract-shapes-2-1 fill-white" d="M178.2,19.8c0.3,9,5.2,17.9,8.6,26.2c2.4,5.2,4.1,14.1,11,15.2c0.3,0,1-0.3,0.3-1    c-11.4-9.3-11.7-27.9-19.3-40.4C178.9,19.1,178.2,19.1,178.2,19.8L178.2,19.8z"></path>
	</g>
	<g>
		<path class="abstract-shapes-2-1 fill-white" d="M215.1,30.4c2.4,24.5,10,48.6,18.6,71.4c0.3,1,2.4,0.3,1.7-0.3c-9-23.1-13.8-46.9-19.3-71.1    C215.8,30.1,215.1,30.1,215.1,30.4L215.1,30.4z"></path>
	</g>
	<g>
		<path class="abstract-shapes-2-1 fill-white" d="M254.8,82.2c0,20.7,5.2,42.1,8.6,62.4c0.3,1.4,2.8,1,2.4-0.3c-3.8-20.7-6.6-41.1-10-62.1    C255.8,81.2,254.8,81.2,254.8,82.2L254.8,82.2z"></path>
	</g>
</g>
<circle class="abstract-shapes-2-0 fill-info" opacity=".3" cx="89" cy="529.4" r="50.7"></circle>
<circle class="abstract-shapes-2-2 fill-warning" cx="10.3" cy="597" r="10.3"></circle>
<g>
	<line class="abstract-shapes-2-3 fill-none stroke-white" stroke-width="5" stroke-linecap="round" stroke-miterlimit="10" x1="36" y1="559.4" x2="83.3" y2="506"></line>
	<line class="abstract-shapes-2-3 fill-none stroke-white" stroke-width="5" stroke-linecap="round" stroke-miterlimit="10" x1="36" y1="586.4" x2="83.3" y2="533"></line>
	<line class="abstract-shapes-2-3 fill-none stroke-white" stroke-width="5" stroke-linecap="round" stroke-miterlimit="10" x1="36" y1="613.4" x2="83.3" y2="560"></line>
</g>
</svg>
                  </figure>
                </div>
                <!-- End SVG Component -->
              </div>
            </div>
            <!-- End Mockup Block -->
          </div>
          <div class="tab-pane fade pt-9" id="pills-two" role="tabpanel" aria-labelledby="pills-two-tab">
            <!-- Mockup Block -->
            <div class="row justify-content-lg-between align-items-lg-center">
              <div class="col-lg-4 mb-9 mb-lg-0">
                <!-- Info -->
                <div class="mb-5">
                  <h3 class="h4 font-weight-semi-bold">Focus on achieving measurable outcomes</h3>
                  <p>Now that we've aligned the details, it's time to get things mapped out and organized.</p>
                </div>

                <ul class="list-unstyled text-secondary font-size-1">
                  <li class="media my-3">
                    <span class="fas fa-check text-primary mt-1 mr-3"></span>
                    <span class="media-body">
                      We aim high at being focused on building relationships
                    </span>
                  </li>
                  <li class="media my-3">
                    <span class="fas fa-check text-primary mt-1 mr-3"></span>
                    <span class="media-body">
                      Working together on the daily requires each individual
                    </span>
                  </li>
                  <li class="media my-3">
                    <span class="fas fa-check text-primary mt-1 mr-3"></span>
                    <span class="media-body">
                      It's important to stay detail oriented with every project we tackle
                    </span>
                  </li>
                </ul>
                <!-- End Info -->
              </div>

              <div class="col-lg-7 position-relative">
                <div class="pl-md-9">
                  <img class="img-fluid shadow-sm rounded" src="../../assets/img/700x525/img2.jpg" alt="Image Description">
                </div>

                <!-- SVG Component -->
                <div class="position-absolute bottom-0 left-0 w-75 z-index-n1">
                  <figure class="ie-abstract-shapes-4">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 594.8 635.9" style="enable-background:new 0 0 594.8 635.9;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGmockupBg">
<style type="text/css">
	.abstract-shapes-4-0{fill:#00DFFC;}
	.abstract-shapes-4-1{fill:none;stroke:#FFFFFF;}
	.abstract-shapes-4-2{fill:none;stroke:#377DFF;}
</style>
<polygon class="abstract-shapes-4-0 fill-info" opacity=".5" points="105.2,5.4 18.8,155 191.5,155 "></polygon>
<linearGradient id="abstractShapes4_1" gradientUnits="userSpaceOnUse" x1="115.4229" y1="149.4995" x2="222.5771" y2="188.5005">
	<stop class="stop-color-primary" offset="0" style="stop-color:#377DFF"></stop>
	<stop class="stop-color-indigo" offset="1" style="stop-color:#2D1582"></stop>
</linearGradient>
<circle fill="url(#abstractShapes4_1)" cx="169" cy="169" r="57"></circle>
<g>
	<defs>
		<path id="abstractShapes4_2" d="M94.4,245.4c20.7,21.4,41.2,42.3,71.8,50c22.1,5.6,45.9,3,66.5-6.9c26.9-13,49.7-41.1,81.5-41.5    c17-0.2,32.9,7.7,43,21.5c26.1,35.8,3.4,73.8-23.4,101.2c-31.4,32.2-71.6,59.6-71.4,109.5c0.1,29.5,18.2,61.3,8.2,90.9    c-14.6,43.4-71.1,29.6-102.5,16.1c-28.4-12.3-55.7-25.3-81.4-42.7c-13.4-9-25.9-20.1-33-34.6c-17.5-35.6,15.1-59.7,24.9-91.3    c5.2-16.8,3.9-34.4-3-50.6c-12.4-29.4-35.6-53-56.2-76.8c-19.7-22.7-28.4-66.2,7.5-79.7c16.4-6.2,32.7,1.6,45,12.6    C79.6,230.1,87,237.8,94.4,245.4z"></path>
	</defs>
	<use xlink:href="#abstractShapes4_2" style="overflow:visible;fill:#FFC107;"></use>
	<clipPath id="abstractShapes4_3">
		<use xlink:href="#abstractShapes4_2" style="overflow:visible;"></use>
	</clipPath>
	<path class="abstract-shapes-4-1 fill-none stroke-white" stroke-width="6" stroke-miterlimit="10" clip-path="url(#abstractShapes4_3)" d="M58.7,421.6c0,0,6,53,103,65S279.3,596,279.3,596"></path>
	<path class="abstract-shapes-4-1 fill-none stroke-white" stroke-width="6" stroke-miterlimit="10" clip-path="url(#abstractShapes4_3)" d="M67.7,376.6c0,0,6,53,103,65S288.3,551,288.3,551"></path>
	<path class="abstract-shapes-4-1 fill-none stroke-white" stroke-width="7" stroke-miterlimit="10" clip-path="url(#abstractShapes4_3)" d="M5,275c0,0,7.5,64.7,128.1,79.4C253.8,369.1,279.3,488,279.3,488"></path>
	<path class="abstract-shapes-4-1 fill-none stroke-white" stroke-width="7" stroke-miterlimit="10" clip-path="url(#abstractShapes4_3)" d="M48.3,202.5c0,0,7.5,64.7,128.1,79.4c120.6,14.7,146.1,133.6,146.1,133.6"></path>
</g>
<circle class="abstract-shapes-4-2 fill-none stroke-primary" stroke-width="3" stroke-miterlimit="10" cx="45.5" cy="603.3" r="9.1"></circle>
<circle class="abstract-shapes-4-2 fill-none stroke-primary" stroke-width="2.5" stroke-miterlimit="10" cx="72.5" cy="576.3" r="5.1"></circle>
</svg>
                  </figure>
                </div>
                <!-- End SVG Component -->
              </div>
            </div>
            <!-- End Mockup Block -->
          </div>
          <div class="tab-pane fade pt-9" id="pills-three" role="tabpanel" aria-labelledby="pills-three-tab">
            <!-- Mockup Block -->
            <div class="row justify-content-lg-between align-items-lg-center">
              <div class="col-lg-4 mb-9 mb-lg-0">
                <!-- Info -->
                <div class="mb-5">
                  <h3 class="h4 font-weight-semi-bold">Review performance and improve strategy</h3>
                  <p>The time has come to bring those ideas and plans to life.</p>
                </div>

                <ul class="list-unstyled text-secondary font-size-1">
                  <li class="media my-3">
                    <span class="fas fa-check text-primary mt-1 mr-3"></span>
                    <span class="media-body">
                      Whether through commerce or just an experience
                    </span>
                  </li>
                  <li class="media my-3">
                    <span class="fas fa-check text-primary mt-1 mr-3"></span>
                    <span class="media-body">
                      Now that your brand is all dressed up
                    </span>
                  </li>
                  <li class="media my-3">
                    <span class="fas fa-check text-primary mt-1 mr-3"></span>
                    <span class="media-body">
                      This part is really crucial in keeping the project
                    </span>
                  </li>
                </ul>
                <!-- End Info -->
              </div>

              <div class="col-lg-7 position-relative">
                <div class="pl-md-9">
                  <img class="img-fluid shadow-sm rounded" src="../../assets/img/700x525/img3.jpg" alt="Image Description">
                </div>

                <!-- SVG Component -->
                <div class="position-absolute bottom-0 left-0 w-75 z-index-n1">
                  <figure class="ie-abstract-shapes-3">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 594.8 635.9" style="enable-background:new 0 0 594.8 635.9;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGmockupBg">
<style type="text/css">
	.abstract-shapes-3-0{fill:#FFC107;}
	.abstract-shapes-3-1{fill:none;stroke:#00DFFC;}
	.abstract-shapes-3-2{fill:#00DFFC;}
</style>
<path class="abstract-shapes-3-0 fill-warning" d="M94.4,245.4c20.7,21.4,41.2,42.3,71.8,50c22.1,5.6,45.9,3,66.5-6.9c26.9-13,49.7-41.1,81.5-41.5  c17-0.2,32.9,7.7,43,21.5c26.1,35.8,3.4,73.8-23.4,101.2c-31.4,32.2-71.6,59.6-71.4,109.5c0.1,29.5,18.2,61.3,8.2,90.9  c-14.6,43.4-71.1,29.6-102.5,16.1c-28.4-12.3-55.7-25.3-81.4-42.7c-13.4-9-25.9-20.1-33-34.6c-17.5-35.6,15.1-59.7,24.9-91.3  c5.2-16.8,3.9-34.4-3-50.6c-12.4-29.4-35.6-53-56.2-76.8c-19.7-22.7-28.4-66.2,7.5-79.7c16.4-6.2,32.7,1.6,45,12.6  C79.6,230.1,87,237.8,94.4,245.4z"></path>
<g>
	<line class="abstract-shapes-3-1 fill-none stroke-info" stroke-width="5" stroke-linecap="round" stroke-miterlimit="10" x1="39.1" y1="568.7" x2="86.4" y2="515.4"></line>
	<line class="abstract-shapes-3-1 fill-none stroke-info" stroke-width="5" stroke-linecap="round" stroke-miterlimit="10" x1="39.1" y1="595.7" x2="86.4" y2="542.4"></line>
	<line class="abstract-shapes-3-1 fill-none stroke-info" stroke-width="5" stroke-linecap="round" stroke-miterlimit="10" x1="39.1" y1="622.7" x2="86.4" y2="569.4"></line>
</g>
<radialGradient id="abstractShapes3_1" cx="1764.8969" cy="-193.7146" r="201.6243" gradientTransform="matrix(-0.7976 0.6032 0.6032 0.7976 1761.7972 -689.0652)" gradientUnits="userSpaceOnUse">
	<stop class="stop-color-dark" offset="0.2162" style="stop-color:#1E2022"></stop>
	<stop class="stop-color-white" offset="1" style="stop-color:#FFFFFF"></stop>
</radialGradient>
<path class="abstract-shapes-3-2" opacity=".05" fill="url(#abstractShapes3_1)" d="M236.4,31c60.5-44.6,146.8-0.3,143.9,74.9c0,1-0.1,2-0.1,2.9c-5.7,95,128.3,111.4,51.9,156.6s5.1,77-71.6,107.4  c-76.8,30.4-120.3,93.2-214.1-12.1C61,264.8-3.5,302.8,12.8,221.1c3-15.2,4.9-30.7,4.9-46.2c0.1-25.7,12.8-71.2,95.6-89.1  C167.4,74.2,208.1,51.8,236.4,31z"></path>
<linearGradient id="abstractShapes3_2" gradientUnits="userSpaceOnUse" x1="1561.1899" y1="-193.7146" x2="1968.6038" y2="-193.7146" gradientTransform="matrix(-0.7976 0.6032 0.6032 0.7976 1761.7972 -689.0652)">
	<stop class="stop-color-primary" offset="2.474398e-07" style="stop-color:#377DFF"></stop>
	<stop class="stop-color-indigo" offset="1" style="stop-color:#2D1582"></stop>
</linearGradient>
<path fill="url(#abstractShapes3_2)" d="M236.4,31c60.5-44.6,146.8-0.3,143.9,74.9c0,1-0.1,2-0.1,2.9c-5.7,95,128.3,111.4,51.9,156.6s5.1,77-71.6,107.4  c-76.8,30.4-120.3,93.2-214.1-12.1C61,264.8-3.5,302.8,12.8,221.1c3-15.2,4.9-30.7,4.9-46.2c0.1-25.7,12.8-71.2,95.6-89.1  C167.4,74.2,208.1,51.8,236.4,31z"></path>
<g>
	<circle class="abstract-shapes-3-2 fill-info" cx="78" cy="88.3" r="2.8"></circle>
	<circle class="abstract-shapes-3-2 fill-info" cx="89.7" cy="104" r="3.5"></circle>
	<circle class="abstract-shapes-3-2 fill-info" cx="66.4" cy="130" r="1.7"></circle>
	<circle class="abstract-shapes-3-2 fill-info" cx="92.6" cy="68.7" r="1.8"></circle>
	<circle class="abstract-shapes-3-2 fill-info" cx="69.3" cy="67" r="2"></circle>
	<circle class="abstract-shapes-3-2 fill-info" cx="57.9" cy="48.8" r="4.3"></circle>
	<circle class="abstract-shapes-3-2 fill-info" cx="105.2" cy="88.3" r="2.1"></circle>
	<circle class="abstract-shapes-3-2 fill-info" cx="82.2" cy="119.9" r="1.4"></circle>
	<circle class="abstract-shapes-3-2 fill-info" cx="24.3" cy="88.3" r="4.4"></circle>
	<circle class="abstract-shapes-3-2 fill-info" cx="54.2" cy="76.7" r="2.3"></circle>
	<circle class="abstract-shapes-3-2 fill-info" cx="43.6" cy="115.8" r="3.2"></circle>
	<circle class="abstract-shapes-3-2 fill-info" cx="22.3" cy="44.6" r="5.2"></circle>
	<circle class="abstract-shapes-3-2 fill-info" cx="45.8" cy="28.8" r="2.2"></circle>
	<circle class="abstract-shapes-3-2 fill-info" cx="73.6" cy="42.6" r="2"></circle>
	<circle class="abstract-shapes-3-2 fill-info" cx="100" cy="44.6" r="4"></circle>
	<circle class="abstract-shapes-3-2 fill-info" cx="105.2" cy="67" r="2.6"></circle>
	<circle class="abstract-shapes-3-2 fill-info" cx="24.3" cy="70.6" r="2"></circle>
	<circle class="abstract-shapes-3-2 fill-info" cx="120" cy="97.8" r="3.6"></circle>
	<circle class="abstract-shapes-3-2 fill-info" cx="62.1" cy="100.9" r="3.1"></circle>
	<circle class="abstract-shapes-3-2 fill-info" cx="114.1" cy="125.6" r="4.3"></circle>
</g>
</svg>
                  </figure>
                </div>
                <!-- End SVG Component -->
              </div>
            </div>
            <!-- End Mockup Block -->
          </div>
        </div>
        <!-- End Tab Content -->
      </div>
    </div>


<!-- <div class="bg-grey-1 pv4">
  <div class="flex-l mhn1-l ph3 center mw7">
    <h2 class="f2 b lh-title mb2 w-40-l">{{.heading}}</h2>
    <p class="w-60-l mb0">{{.text}}</p>
  </div>
</div> -->
