<div class="container space-2 space-md-3 bg-light">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <span class="btn btn-xs btn-soft-primary btn-pill mb-2">Technologies</span>
        <h2 class="font-weight-normal">A template built for you</h2>
        <p class="mb-0">By excelling in the creation of disruptive technology solutions, we help our clients understand better their end customers, deliver outstanding results and innovate continuously.</p>
      </div>
      <!-- End Title -->
<!-- Technologies Section -->
<!-- Clients Section -->
<div class="row justify-content-center text-center">
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="../../assets/svg/clients-logo/amazon-original.svg" alt="Image Description">
  </div>
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="../../assets/svg/clients-logo/alphabet-original.svg" alt="Image Description">
  </div>
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="../../assets/svg/clients-logo/paypal-original.svg" alt="Image Description">
  </div>
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="../../assets/svg/clients-logo/slack-original.svg" alt="Image Description">
  </div>
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="../../assets/svg/clients-logo/samsung-original.svg" alt="Image Description">
  </div>

  <div class="w-100"></div>

  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="../../assets/svg/clients-logo/google-original.svg" alt="Image Description">
  </div>
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="../../assets/svg/clients-logo/fitbit-original.svg" alt="Image Description">
  </div>
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="../../assets/svg/clients-logo/shopify-original.svg" alt="Image Description">
  </div>
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="../../assets/svg/clients-logo/stripe-original.svg" alt="Image Description">
  </div>

  <div class="w-100"></div>

  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="../../assets/svg/clients-logo/mapbox-original.svg" alt="Image Description">
  </div>
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="../../assets/svg/clients-logo/spotify-original.svg" alt="Image Description">
  </div>
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="../../assets/svg/clients-logo/uber-original.svg" alt="Image Description">
  </div>
  <div class="col-4 col-md-2 mb-8 mb-md-0">
    <img class="u-clients" src="../../assets/svg/clients-logo/airbnb-original.svg" alt="Image Description">
  </div>
  <div class="col-4 col-md-2 mb-8 mb-md-0">
    <img class="u-clients" src="../../assets/svg/clients-logo/netflix-original.svg" alt="Image Description">
  </div>

  <div class="w-100"></div>

  <div class="col-4 col-md-2 mb-8 mb-md-0">
    <img class="u-clients" src="../../assets/svg/clients-logo/embark-original.svg" alt="Image Description">
  </div>
  <div class="col-4 col-md-2 mb-8 mb-md-0">
    <img class="u-clients" src="../../assets/svg/clients-logo/lenovo-original.svg" alt="Image Description">
  </div>
  <div class="col-4 col-md-2">
    <img class="u-clients" src="../../assets/svg/clients-logo/boring-company-original.svg" alt="Image Description">
  </div>
  <div class="col-4 col-md-2">
    <img class="u-clients" src="../../assets/svg/clients-logo/hubspot-original.svg" alt="Image Description">
  </div>
</div>
<!-- End Clients Section -->
