<div id="technologySection" class="space-top-2 space-bottom-4">
<div class="container space-top-0 space-bottom-4">
      
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-6">
        <span class="btn btn-xs btn-soft-primary btn-pill mb-2">Technologies</span>
        <h2 class="font-weight-normal">Creating the most unique and functional blends</h2>
        <p class="mb-5">We excel in the creation of disruptive Fintech and technology solutions, we help our clients better understand their core values, end customers and technical capabilities all under one managed platform.</p>
      </div>
      <!-- End Title -->
      
<!-- Technologies Section -->
<div class="row justify-content-center text-center space-md-1">
      
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265639/svg/clients-logo/amazon-original.svg" alt="">
  </div>
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265639/svg/clients-logo/alphabet-original.svg" alt="">
  </div>
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265646/svg/clients-logo/paypal-original.svg" alt="">
  </div>
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265647/svg/clients-logo/slack-original.svg" alt="">
  </div>
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265647/svg/clients-logo/samsung-original.svg" alt="Samsung">
  </div>

  <div class="w-100"></div>

  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265642/svg/clients-logo/google-original.svg" alt="Google">
  </div>
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265642/svg/clients-logo/fitbit-original.svg" alt="Fitbit">
  </div>
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265647/svg/clients-logo/shopify-original.svg" alt="Shopify">
  </div>
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265649/svg/clients-logo/stripe-original.svg" alt="Stripe">
  </div>

  <div class="w-100"></div>

  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265644/svg/clients-logo/mapbox-original.svg" alt="">
  </div>
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265649/svg/clients-logo/spotify-original.svg" alt="">
  </div>
  <div class="col-4 col-md-2 mb-8">
    <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265651/svg/clients-logo/uber-original.svg" alt="">
  </div>
  <div class="col-4 col-md-2 mb-8 mb-md-0">
    <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265638/svg/clients-logo/airbnb-original.svg" alt="">
  </div>
  <div class="col-4 col-md-2 mb-8 mb-md-0">
    <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265646/svg/clients-logo/netflix-original.svg" alt="">
  </div>

  <div class="w-100"></div>

  <div class="col-4 col-md-2 mb-8 mb-md-0">
    <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265641/svg/clients-logo/embark-original.svg" alt="Image Description">
  </div>
  <div class="col-4 col-md-2 mb-8 mb-md-0">
    <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265643/svg/clients-logo/lenovo-original.svg" alt="Image Description">
  </div>
  <div class="col-4 col-md-2">
    <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265640/svg/clients-logo/boring-company-original.svg" alt="Image Description">
  </div>
  <div class="col-4 col-md-2">
    <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265643/svg/clients-logo/hubspot-original.svg" alt="Image Description">
  </div>
      
</div>
<!-- End Technologies Section -->
     </div>
      </div>
<!-- End Section -->  

    <hr class="my-0">
