<div id="TestimonialsSection" class="space-top-2 space-bottom-0">
 
 <!-- Testimonials -->
<div id="SVGirregularShape2Right" class="svg-preloader position-relative gradient-half-info-v1 z-index-2">
  <div class="bg-img-hero-bottom" style="background-image: url(https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554454885/img/others/bg2.png);">
    <div class="container space-top-2 space-top-md-3 space-bottom-4">
      <!-- Testimonials -->
      <div class="text-center">
        <div class="mb-4">
          <div class="u-avatar mx-auto mb-3">
            <img class="img-fluid rounded-circle" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265855/img/100x100/img1.jpg" alt="Image Description">
          </div>
          <h4 class="h6 text-white">Maria Brown, Google</h4>
        </div>
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-7">
          <blockquote class="h3 text-white mb-0">The template is really nice and offers quite a large set of options. It's beautiful and the coding is done quickly and seamlessly. Thank you!</blockquote>
        </div>
      </div>
      <!-- End Testimonials -->
    </div>

    <!-- SVG Quote -->
    <figure class="w-25 position-absolute top-0 right-0 left-0 ml-11">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
        <path class="fill-white" opacity=".1" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
          C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
          c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
          C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
      </svg>
    </figure>
    <!-- End SVG Quote -->

    <!-- SVG Shape -->
    <div class="position-absolute top-0 right-0 left-0 z-index-n1">
      <figure class="ie-irregular-shape-2-right">
        <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265680/svg/components/double-ellipse-top-right.svg" alt="Image Description"
             data-parent="#SVGdoubleEllipseTopRight">
      </figure>
    </div>
    <!-- End SVG Shape -->
  </div>
</div>
<!-- End Testimonials -->

</div>
