<!-- Testimonials Section -->

    <div id="servicesSection" class="bg-white space-2 space-md-3">
        
      <div class="container space-md-3">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
          <span class="btn btn-xs btn-soft-primary btn-pill mb-2">Testimonials</span>
          <h2 class="h3 font-weight-normal">Join 100+ satisfied clients</h2>
        </div>
        <!-- End Title -->

        <!-- Slick Carousel -->
        <div class="js-slick-carousel u-slick u-slick-zoom u-slick--gutters-3"
             data-slides-show="3"
             data-center-mode="true"
             data-autoplay="true"
             data-speed="5000"
             data-pagi-classes="text-center u-slick__pagination mt-7 mb-0"
             data-responsive='[{
               "breakpoint": 992,
               "settings": {
                 "slidesToShow": 2
               }
             }, {
               "breakpoint": 768,
               "settings": {
                 "slidesToShow": 1
               }
             }]'>
          <div class="js-slide my-4">
            <!-- Testimonials -->
            <div class="u-slick-zoom__slide text-center">
              <div class="card border-0 shadow-sm">
                <div class="card-body p-7">
                  <p class="mb-0">The template is really nice and offers quite a large set of options. It's beautiful and the coding is done quickly and seamlessly. Thank you!</p>
                </div>
              </div>
              <div class="position-relative z-index-2 mt-n5 mb-3">
                <div class="u-avatar mx-auto">
                  <img class="img-fluid rounded-circle" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265855/img/100x100/img1.jpg" alt="">
                </div>
              </div>
              <h4 class="h6 mb-0">Maria Muszynska</h4>
              <p class="small">Google</p>
            </div>
            <!-- End Testimonials -->
          </div>

          <div class="js-slide my-4">
            <!-- Testimonials -->
            <div class="u-slick-zoom__slide text-center">
              <div class="card border-0 shadow-sm">
                <div class="card-body p-7">
                  <p class="mb-0">The template is really nice and offers quite a large set of options. It's beautiful and the coding is done quickly and seamlessly. Thank you!</p>
                </div>
              </div>
              <div class="position-relative z-index-2 mt-n5 mb-3">
                <div class="u-avatar mx-auto">
                  <img class="img-fluid rounded-circle" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265857/img/100x100/img9.jpg" alt="">
                </div>
              </div>
              <h4 class="h6 mb-0">Massalha Shady</h4>
              <p class="small">Apple</p>
            </div>
            <!-- End Testimonials -->
          </div>

          <div class="js-slide my-4">
            <!-- Testimonials -->
            <div class="u-slick-zoom__slide text-center">
              <div class="card border-0 shadow-sm">
                <div class="card-body p-7">
                  <p class="mb-0">The template is really nice and offers quite a large set of options. It's beautiful and the coding is done quickly and seamlessly. Thank you!</p>
                </div>
              </div>
              <div class="position-relative z-index-2 mt-n5 mb-3">
                <div class="u-avatar mx-auto">
                  <img class="img-fluid rounded-circle" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265856/img/100x100/img3.jpg" alt="">
                </div>
              </div>
              <h4 class="h6 mb-0">Mark McManus</h4>
              <p class="small">Microsoft</p>
            </div>
            <!-- End Testimonials -->
          </div>

          <div class="js-slide my-4">
            <!-- Testimonials -->
            <div class="u-slick-zoom__slide text-center">
              <div class="card border-0 shadow-sm">
                <div class="card-body p-7">
                  <p class="mb-0">The template is really nice and offers quite a large set of options. It's beautiful and the coding is done quickly and seamlessly. Thank you!</p>
                </div>
              </div>
              <div class="position-relative z-index-2 mt-n5 mb-3">
                <div class="u-avatar mx-auto">
                  <img class="img-fluid rounded-circle" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265855/img/100x100/img12.jpg" alt="">
                </div>
              </div>
              <h4 class="h6 mb-0">Alex Pottorf</h4>
              <p class="small">Github</p>
            </div>
            <!-- End Testimonials -->
          </div>
        </div>
        <!-- End Slick Carousel -->
      </div>
    </div>
    <!-- End Testimonials Section -->
</div>
