<article class="card border-0 shadow-sm mb-3">
    <div class="card-body p-5">
      <small class="d-block text-muted mb-2">{{ .Date.Format "Mon, Jan 2, 2006" }}</small>
      <h2 class="h5">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
      <p class="mb-0">{{ .Description }}</p>
    </div>

    <div class="card-footer pb-5 px-0 mx-5">
      <div class="media align-items-center">
        <div class="u-sm-avatar mr-3">
          <img class="img-fluid rounded-circle" src="" alt="">
        </div>
        <div class="media-body">
          <h4 class="small mb-0"><a href="{{ .Permalink }}">Read more →</a></h4>
        </div>
      </div>
    </div>
  </article>
