{{ define "main" }}

    <div id="SVGheroBgElements" class="svg-preloader position-relative gradient-half-primary-v1 z-index-2 overflow-hidden">
      <div class="container space-2 space-top-md-5 space-top-lg-4 space-bottom-md-5 space-bottom-lg-4">
        <div class="row align-items-lg-center">
          <div class="col-lg-5 mb-7 mb-lg-0">
            <!-- Info -->
       <h1 class="display-4 font-size-md-down-5 text-white font-weight-semi-bold">We create the best <span class="font-weight-semi-bold">solution</span> for you.</h1>
  <p class="lead text-white-70">We designed a services portfolio inspired by the latest technologies with a little mix of alcemy</p>
            <!-- End Info -->
          </div>

          <div class="col-lg-7">
            <!-- SVG Icon -->
            <figure class="ie-we-have-an-idea">
              <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265668/svg/illustrations/we-have-an-idea.svg" alt="Image Description"
                   data-parent="#SVGheroSectionBg">
            </figure>
            <!-- End SVG Icon -->
          </div>
          
<!-- SVG Background Shapes -->
      <div class="w-100 w-sm-75 w-md-50 content-centered-y z-index-n1 ml-9">
        <figure class="ie-bg-elements-2">
          <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265676/svg/components/bg-elements-9.svg" alt=""
               data-parent="#SVGheroBgElements">
        </figure>
      </div>
      <!-- End SVG Background Shapes -->

      <!-- SVG Bottom Shape -->
      <figure class="position-absolute right-0 bottom-0 left-0">
        <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265687/svg/components/wave-4-bottom.svg" alt=""
             data-parent="#SVGheroBgElements">
      </figure>
      <!-- End SVG Bottom Shape -->
        </div>
      </div>

    </div>
    <!-- End Hero Section -->

    <!-- Front for -->
    <div class="container space-2 space-bottom-md-3">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <span class="btn btn-xs btn-soft-success btn-pill mb-2">Why us</span>
        <h2 class="text-primary font-weight-normal">We Got A <span class="font-weight-semi-bold">Multitude</span> Of Services</h2>
        <p>For All technologies. All fields of businesses. All countries.</p>
      </div>
      <!-- End Title -->

      <div class="row align-items-lg-center">
        <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
          <!-- Info -->
          <div class="pl-lg-7">
            <div class="mb-4">
              <h3 class="h5">FinTech Development</h3>
              <p>Easy and fast adjustments of elements are possible with Front template. Find our more about our all-in-one programmatic template.</p>
            </div>

            <!-- Link -->
            <a class="card border-0 shadow-sm" href="#">
              <div class="card-body p-4">
                <div class="media align-items-center">
                  <div class="u-avatar mr-3">
                    <img class="img-fluid rounded-circle" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265831/img/icons/img2.png" alt="">
                  </div>
                  <span class="media-body">
                    <span class="d-flex justify-content-between align-items-center font-weight-semi-bold">
                      Get Started with Front <span class="fas fa-angle-right"></span>
                    </span>
                  </span>
                </div>
              </div>
            </a>
            <!-- End Link -->
          </div>
          <!-- End Info -->
        </div>

        <div id="SVGchattingGirl" class="col-lg-7 order-lg-1 svg-preloader">
          <!-- SVG Icon -->
          <figure class="ie-chatting-girl">
            <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265653/svg/illustrations/chatting-girl.svg" alt=""
                 data-parent="#SVGchattingGirl">
          </figure>
          <!-- End SVG Icon -->
        </div>
      </div>
    </div>
    <!-- End Front for -->

    <!-- Features Section -->
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-7 mb-lg-0">
          <div class="media d-block d-sm-flex pr-md-4">
            <!-- SVG Icon -->
            <figure id="SVGproject" class="svg-preloader w-40 mr-4 mb-4 mb-sm-0">
              <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265696/svg/flat-icons/project.svg" alt=""
                   data-parent="#SVGproject">
            </figure>
            <!-- End SVG Icon -->

            <div class="media-body">
              <h3 class="h5">Fintech Development</h3>

              <div class="d-flex">
                <!-- List -->
                <ul class="list-unstyled text-secondary font-size-1 mr-md-4">
                  <li class="py-1">
                    <span class="h6 text-primary mr-1">&#8226;</span>
                   Fiat Processing
                  </li>
                  <li class="py-1">
                    <span class="h6 text-primary mr-1">&#8226;</span>
                  All Card Processing
                  </li>
                  <li class="py-1">
                    <span class="h6 text-primary mr-1">&#8226;</span>
                    Banking Integration 
                  </li>
                  <li class="py-1">
                    <span class="h6 text-primary mr-1">&#8226;</span>
                    E-commerce Payment Services
                  </li>
                </ul>
                <!-- End List -->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="media d-block d-sm-flex pr-md-4">
            <!-- SVG Icon -->
            <figure id="SVGwebDesign" class="svg-preloader w-40 mr-4 mb-4 mb-sm-0">
              <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265698/svg/flat-icons/web-design.svg" alt="Image Description"
                   data-parent="#SVGwebDesign">
            </figure>
            <!-- End SVG Icon -->

            <div class="media-body">
              <h3 class="h5">Blockchain Development</h3>

              <div class="d-flex">
                <!-- List -->
                <ul class="list-unstyled text-secondary font-size-1 mr-md-4">
                  <li class="py-1">
                    <span class="h6 text-primary mr-1">&#8226;</span>
                   Cryptocurrency Processing
                  </li>
                  <li class="py-1">
                    <span class="h6 text-primary mr-1">&#8226;</span>
                   Custom Blockchain platform
                  </li>
                  <li class="py-1">
                    <span class="h6 text-primary mr-1">&#8226;</span>
                    Customized Wallets
                  </li>
                  <li class="py-1">
                    <span class="h6 text-primary mr-1">&#8226;</span>
                    Chain Analysis Services
                  </li>
                </ul>
                <!-- End List -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Features Section -->

    <!-- About Section -->
    <div class="container space-2 space-md-3">
      <div class="row align-items-lg-center">
        <div class="col-lg-5 mb-7 mb-lg-0">
          <!-- Info -->
          <div class="pr-lg-7">
            <div class="mb-4">
              <h3 class="h5">New Generation Services</h3>
              <p>Companies need new approaches to drive change and Finteligence delivers that innovation.</p>
            </div>

            <!-- Link -->
            <a class="card border-0 shadow-sm" href="#">
              <div class="card-body p-4">
                <div class="media align-items-center">
                  <div class="u-avatar mr-3">
                    <img class="img-fluid rounded-circle" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265831/img/icons/img1.png" alt="">
                  </div>
                  <span class="media-body">
                    <span class="d-flex justify-content-between align-items-center font-weight-semi-bold">
                      Get Started with Front <span class="fas fa-angle-right"></span>
                    </span>
                  </span>
                </div>
              </div>
            </a>
            <!-- End Link -->
          </div>
          <!-- End Info -->
        </div>

        <div id="SVGchattingBoy" class="col-lg-7 svg-preloader">
          <!-- SVG Icon -->
          <figure class="ie-chatting-boy">
            <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265653/svg/illustrations/chatting-boy.svg" alt=""
                 data-parent="#SVGchattingBoy">
          </figure>
          <!-- End SVG Icon -->
        </div>
      </div>
    </div>
    <!-- End About Section -->

    <!-- Portfolio Section -->
    <div class="container space-bottom-2">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <span class="btn btn-xs btn-soft-success btn-pill mb-2">The Works</span>
        <h2 class="text-primary font-weight-normal">Our <span class="font-weight-semi-bold">Fintelligence</span> works</h2>
      </div>
      <!-- End Title -->

      <!-- Cubeportfolio -->
      <div class="u-cubeportfolio">
        <!-- Filter -->
        <ul id="filterControls" class="list-inline cbp-l-filters-alignRight text-center">
          <li class="list-inline-item cbp-filter-item cbp-filter-item-active u-cubeportfolio__item" data-filter="*">All</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".services">Services</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".solutions">Solutions</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".technolgoy">Technology</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".illustration">Illustration</li>
        </ul>
        <!-- End Filter -->

        <!-- Content -->
        <div class="cbp"
              data-controls="#filterControls"
              data-animation="quicksand"
              data-x-gap="15"
              data-y-gap="15"
              data-media-queries='[
                {"width": 1500, "cols": 4},
                {"width": 1100, "cols": 4},
                {"width": 800, "cols": 3},
                {"width": 480, "cols": 2},
                {"width": 300, "cols": 1}
              ]'>
          <!-- Item -->
          <div class="cbp-item rounded solutions">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265813/img/380x360/img15.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Remind Me More</h4>
                    <p class="small text-white-70 mb-0">
                      by Tiberiu Neamu
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded services">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265815/img/380x360/img6.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Workout Buddy</h4>
                    <p class="small text-white-70 mb-0">
                      by Tiberiu Neamu
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded technology">
            <a class="cbp-caption" href="/technologies">
              <div class="cbp-caption-defaultWrap">
                <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265813/img/380x740/img1.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Easy Note</h4>
                    <p class="small text-white-70 mb-0">
                      by Cosmin Capitanu
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded graphic solutions">
            <a class="cbp-caption" href="/solutions">
              <div class="cbp-caption-defaultWrap">
                <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265813/img/380x360/img1.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Tiger</h4>
                    <p class="small text-white-70 mb-0">
                      by Cosmin Capitanu
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded graphic illustration">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265814/img/380x360/img25.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Tiger</h4>
                    <p class="small text-white-70 mb-0">
                      by Cosmin Capitanu
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded graphic illustration">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265815/img/380x360/img4.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Tiger</h4>
                    <p class="small text-white-70 mb-0">
                      by Cosmin Capitanu
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded graphic illustration">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265830/img/380x360/img8.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Tiger</h4>
                    <p class="small text-white-70 mb-0">
                      by Cosmin Capitanu
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->
        </div>
        <!-- End Content -->
      </div>
      <!-- End Cubeportfolio -->
    </div>
    <!-- End Portfolio Section -->

    <!-- Clients Section -->
    <div class="container text-center space-bottom-2 space-bottom-md-3">
      <h4 class="h6 text-secondary mb-3">Integrations</h4>
      <div class="d-flex justify-content-center">
        <div class="mx-4">
          <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265649/svg/clients-logo/stripe-original.svg" alt="Stripe">
        </div>
        <div class="mx-4">
          <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265647/svg/clients-logo/shopify-original.svg" alt="Shopify">
        </div>
        <div class="mx-4">
          <img class="u-clients" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265646/svg/clients-logo/paypal-original.svg" alt="PayPal">
        </div>
      </div>
    </div>
    <!-- End Clients Section -->




{{ end }}
