{{ define "main" }}

<div id="SVGheroBgElements" class="svg-preloader position-relative gradient-half-primary-v1 z-index-2 overflow-hidden">
      <div class="container space-top-2 space-bottom-3 space-top-md-5 space-bottom-lg-5">
        <div class="w-md-80 w-lg-50 text-center mx-md-auto">
          <h1 class="text-white"><span class="font-weight-semi-bold">Privacy</span> Policy</h1>
          <p class="text-white-70">Last modified: March 22, 2019 (<a class="text-light" href="#">view archived versions</a>)</p>
         
        </div>
      </div>

<div id="SVGbgElements3" class="svg-preloader container position-relative space-2 space-top-md-5 space-top-lg-4 space-bottom-md-3">
      <div class="w-md-80 w-lg-75 text-center mx-auto">
        <h1 class="display-2 font-size-md-down-5 text-primary font-weight-semi-bold mb-4">High Envelope</h1>
        <p class="lead mb-0">Your business envelope design cues consumers into the personality of your company.  Are you hip and trendy?  Elegant and sophisticated? Front design and paper selection says it all!</p>
      </div>

      <!-- SVG Element -->
      <figure class="position-absolute top-0 left-0 right-0 w-100">
        <img class="js-svg-injector" src="../../assets/svg/components/bg-elements-3.svg" alt="Image Description"
             data-img-paths='[
               {"targetId": "#SVGMainHeroImg1", "newPath": "../../assets/img/750x750/img2.jpg"}
             ]'
             data-parent="#SVGbgElements3">
      </figure>
      <!-- End SVG Element -->
    </div>
    <!-- End Case Studies Title Section -->

    <!-- Video Content Section -->
    <div class="container-fluid py-3">
      <div class="bg-img-hero text-center rounded space-4" style="background-image: url(../../assets/img/1920x800/img16.jpg);">
        <!-- Fancybox -->
        <a class="js-fancybox u-media-player" href="javascript:;"
           data-src="//vimeo.com/167434033"
           data-speed="700"
           data-animate-in="zoomIn"
           data-animate-out="zoomOut"
           data-caption="Front - Responsive Website Template">
          <span class="u-media-player__icon u-media-player__icon--lg">
            <span class="fas fa-play u-media-player__icon-inner"></span>
          </span>
        </a>
        <!-- End Fancybox -->
      </div>
    </div>
    <!-- End Video Content Section -->

    <!-- Images Carousel Section -->
    <div class="overflow-hidden">
      <div class="js-slick-carousel u-slick u-slick--gutters-2"
           data-infinite="true"
           data-slides-show="2"
           data-slides-scroll="1"
           data-center-mode="true"
           data-center-padding="200px"
           data-responsive='[{
             "breakpoint": 992,
             "settings": {
             "slidesToShow": 2,
               "centerPadding": "120px"
             }
           }, {
             "breakpoint": 768,
             "settings": {
             "slidesToShow": 1,
               "centerPadding": "80px"
             }
           }, {
             "breakpoint": 554,
             "settings": {
             "slidesToShow": 1,
               "centerPadding": "50px"
             }
           }]'>
        <div class="js-slide rounded bg-img-hero min-height-300" style="background-image: url(../../assets/img/900x450/img6.jpg);"></div>
        <div class="js-slide rounded bg-img-hero min-height-300" style="background-image: url(../../assets/img/900x450/img7.jpg);"></div>
        <div class="js-slide rounded bg-img-hero min-height-300" style="background-image: url(../../assets/img/900x450/img8.jpg);"></div>
        <div class="js-slide rounded bg-img-hero min-height-300" style="background-image: url(../../assets/img/900x450/img9.jpg);"></div>
        <div class="js-slide rounded bg-img-hero min-height-300" style="background-image: url(../../assets/img/900x450/img10.jpg);"></div>
      </div>
    </div>
    <!-- End Images Carousel Section -->

    <!-- Description Section -->
    <div class="container space-2 space-md-3">
      <div class="row">
        <div id="stickyBlockStartPoint" class="col-lg-5 mb-7 mb-lg-0">
          <!-- Sticky Block -->
          <div class="js-sticky-block"
               data-offset-target="#logoAndNav"
               data-parent="#stickyBlockStartPoint"
               data-sticky-view="lg"
               data-start-point="#stickyBlockStartPoint"
               data-end-point="#stickyBlockEndPoint"
               data-offset-top="32"
               data-offset-bottom="160">
            <div class="mb-7">
              <h2 class="text-primary font-weight-normal mb-0">$2.5+</h2>
              <h3 class="h1 font-weight-semi-bold mb-0">Billion</h3>
              <p>invested in <span class="font-weight-semi-bold">100+</span> transactions</p>
            </div>

            <p>Front serves leading middle market companies and private equity firms. We build lasting relationships as a reliable financing partner that supports growing businesses.</p>
          </div>
          <!-- End Sticky Block -->
        </div>

        <div class="col-lg-7">
          <div class="mb-5">
            <img class="img-fluid rounded" src="../../assets/img/700x900/img1.jpg" alt="Image Description">
          </div>
          <div class="mb-5">
            <img class="img-fluid rounded" src="../../assets/img/700x900/img2.jpg" alt="Image Description">
          </div>
        </div>
      </div>
    </div>
    <!-- End Description Section -->

    <!-- Stick Block End Point -->
    <div id="stickyBlockEndPoint"></div>

    <!-- Images Carousel Section -->
    <div class="container-fluid">
      <div class="js-slick-carousel u-slick"
           data-autoplay="true"
           data-speed="5000"
           data-pagi-classes="text-center u-slick__pagination u-slick__pagination--white position-absolute right-0 bottom-0 left-0">
        <div class="js-slide rounded bg-img-hero-center space-4" style="background-image: url(https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265785/img/1920x1080/img4.jpg);">
          <div class="container">
            <div class="w-lg-30">
              <h4 class="display-4 text-white font-weight-semi-bold mb-3"
                  data-scs-animation-in="fadeInUp">High<br>quality</h4>
              <p class="lead text-white"
                 data-scs-animation-in="fadeInUp">We aim high at being focused on hight quality materials.</p>
            </div>
          </div>
        </div>
        <div class="js-slide rounded bg-img-hero-center space-4" style="background-image: url(https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554427476/img/1920x1080/img20.jpg);">
          <div class="container">
            <div class="w-lg-30">
              <h4 class="display-4 text-white font-weight-semi-bold mb-3"
                  data-scs-animation-in="fadeInUp">Soft<br>papers</h4>
              <p class="lead text-white"
                 data-scs-animation-in="fadeInUp">Using our creative gifts drives this foundation.</p>
            </div>
          </div>
        </div>
        <div class="js-slide rounded bg-img-hero-center space-4" style="background-image: url(https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265783/img/1920x1080/img21.jpg);">
          <div class="container">
            <div class="w-lg-30">
              <h4 class="display-4 text-white font-weight-semi-bold mb-3"
                  data-scs-animation-in="fadeInUp">Long<br>lasting</h4>
              <p class="lead text-white"
                 data-scs-animation-in="fadeInUp">This a powerful outlet that constantly gets overlooked.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Images Carousel Section -->

    <!-- Browser More Projects -->
    <div class="gradient-half-primary-v2">
      <div class="container space-2 space-md-3">
        <!-- Title -->
        <div class="row justify-content-md-between align-items-center mb-7">
          <div class="col-lg-5 mb-7 mb-lg-0">
            <h2 class="font-weight-normal mb-0">Browse<br>more <span class="text-primary font-weight-semi-bold">technologies</span></h2>
          </div>

          <div class="col-lg-6 text-lg-right mt-lg-auto">
            <a href="#">
              See all projects
              <span class="fas fa-arrow-right small ml-2"></span>
            </a>
          </div>
        </div>
        <!-- End Title -->

        <div class="row">
          <div class="col-md-6 mb-7 mb-lg-0">
            <!-- Project -->
            <a class="card border-0 shadow-sm transition-3d-hover" href="#">
              <div class="card-body p-0">
                <img class="card-img-top" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265767/img/600x400/img3.jpg" alt="">
                <div class="text-center p-5">
                  <h4 class="h5 text-dark mb-0">Nashville</h4>
                  <p class="mb-0">Development, Marketing</p>
                </div>
              </div>
            </a>
            <!-- End Project -->
          </div>

          <div class="col-md-6">
            <!-- Project -->
            <a class="card border-0 shadow-sm transition-3d-hover" href="#">
              <div class="card-body p-0">
                <img class="card-img-top" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265767/img/600x400/img2.jpg" alt="">
                <div class="text-center p-5">
                  <h4 class="h5 text-dark mb-0">Vanilla</h4>
                  <p class="mb-0">Development, Product</p>
                </div>
              </div>
            </a>
            <!-- End Project -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Browser More Projects -->


{{ end }}
