{{ define "main" }}
 <div id="SVGheroBgElements" class="svg-preloader position-relative gradient-half-primary-v1 z-index-2 overflow-hidden">
      <div class="container space-top-2 space-bottom-3 space-top-md-5 space-bottom-lg-5">
        <div class="w-md-80 text-center mx-auto">
          <h1 class="display-4 font-size-md-down-5 text-white font-weight-semi-bold mb-4"><span class="font-weight-semi-bold">Terms</span> &amp; conditions</h1>
          <p class="lead text-white-70">Please, read our Terms and Conditions of Use ("Terms") and Privacy Policy carefully because they affect your legal right.</p>
        </div>
      </div>

<!-- SVG Background Shapes -->
      <div class="w-100 w-sm-75 w-md-50 content-centered-y z-index-n1 ml-9">
        <figure class="ie-bg-elements-2">
          <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265676/svg/components/bg-elements-9.svg" alt=""
               data-parent="#SVGheroBgElements">
        </figure>
      </div>
      <!-- End SVG Background Shapes -->

      <!-- SVG Bottom Shape -->
      <figure class="position-absolute right-0 bottom-0 left-0">
        <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265687/svg/components/wave-4-bottom.svg" alt=""
             data-parent="#SVGheroBgElements">
      </figure>
      <!-- End SVG Bottom Shape -->
    </div>
    </div>
    <!-- End Hero Section -->

    <!-- Thank you Content Section -->
    <div class="bg-white">
      <div class="container space-2 space-md-3">
        <div class="row">
        
     <div class="d-lg-flex">
      <div class="container d-lg-flex align-items-lg-center min-height-lg-100vh space-4">
        <div class="w-lg-60 w-xl-50">
          <!-- Title -->
          <div class="mb-5">
            <h1 class="text-primary font-weight-normal">Thank <span class="font-weight-semi-bold">You</span></h1>
            <p class="mb-0">One of our specialist will contact you shortly.</p>
            <p>If you have an emergency, please <a href="18886626009">tell us</a>.</p>
          </div>
          <!-- End Title -->

          <a class="btn btn-primary btn-wide transition-3d-hover" href="/">Go Back</a>
        </div>
      </div>
    </div>   
        
        </div>
      </div>
    </div>
    <!-- End Thank you Content Section -->




{{ end }}
