{{ define "main" }}
 <div id="SVGheroBgElements" class="svg-preloader position-relative gradient-half-primary-v1 z-index-2 overflow-hidden">
      <div class="container space-top-2 space-bottom-3 space-top-md-5 space-bottom-lg-5">
        <div class="w-md-80 text-center mx-auto">
          <h1 class="display-4 font-size-md-down-5 text-white font-weight-semi-bold mb-4"><span class="font-weight-semi-bold">Thank</span> You</h1>
          <p class="lead text-white-70">Your request has been processed and you should be recieving a response shortly.</p>
        </div>
      </div>

<!-- SVG Background Shapes -->
      <div class="w-100 w-sm-75 w-md-50 content-centered-y z-index-n1 ml-9">
        <figure class="ie-bg-elements-2">
          <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265676/svg/components/bg-elements-9.svg" alt=""
               data-parent="#SVGheroBgElements">
        </figure>
      </div>
      <!-- End SVG Background Shapes -->

      <!-- SVG Bottom Shape -->
      <figure class="position-absolute right-0 bottom-0 left-0">
        <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265687/svg/components/wave-4-bottom.svg" alt=""
             data-parent="#SVGheroBgElements">
      </figure>
      <!-- End SVG Bottom Shape -->
    </div>
    </div>
    <!-- End Hero Section -->

    <!-- Thank you Content Section -->
    <div class="bg-white">
   <!-- Mockup Block -->
<div class="container space-bottom-1 space-bottom-md-2">
  <div class="row align-items-lg-center"> 
   
   <div id="SVGmarketingStrategy" class="col-lg-7 svg-preloader">
      <!-- SVG Icon -->
      <figure class="ie-marketing-strategy">
        <img class="js-svg-injector" src="https://res.cloudinary.com/lmj6rf6tz/image/upload/v1554265661/svg/illustrations/marketing-strategy.svg" alt=""
             data-parent="#SVGmarketingStrategy">
      </figure>
      <!-- End SVG Icon -->
    </div>
    <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
      <div class="pl-lg-4">
        <h2 class="h2 font-weight-semi-bold text-primary">Thank <span class="font-weight-semi-bold">You</span></h2>
        <p class="mb-0">One of our specialist will contact you shortly.</p>
       <p>If you have an emergency, please <a href="18886626009">tell us</a>.</p>      
     </div>
    </div>


   
  </div>
</div>
<!-- End Mockup Block -->  
     
    </div>
    <!-- End Thank you Content Section -->




{{ end }}
